<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nast</title>

        <link
        rel="icon"
        href=
"images/logo.jpg"
        type="image/x-icon"
    />            
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/tooplate-clean-work.css" rel="stylesheet">

    </head>
    
    <body>

    

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.jpg" class="logo img-fluid" alt="">

                    <span class="ms-2">NAST</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="about.html">Academic</a>
                        </li>

                        
                   

                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn custom-btn-bg-white btn" href="services.html">Service</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>

            <section class="banner-section d-flex justify-content-center align-items-end">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12">
                            <h1 class="text-white mb-lg-0">About Us</h1>
                        </div>

                        <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>
         

            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="https://flashacademy.com/app/uploads/2023/03/FlashAcademy-1-scaled.jpg" class="featured-image img-fluid">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="featured-block">
                                <h2 class="mb-4">NAST</h2>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <p></p>

                                <a class="custom-btn btn button button--atlas mt-3" href="index.html">
                                    <span>Get in touch</span>
    
                                    <div class="marquee" aria-hidden="true">
                                        <div class="marquee__inner">
                                            <span>Get in touch</span>
                                            <span>Get in touch</span>
                                            <span>Get in touch</span>
                                            <span>Get in touch</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="team-section section-padding section-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-4">Meet 0ur Teams</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-5">
                            <img src="images/teams/young-cleaning-man-wearing-casual-clothes.jpg" class="team-image img-fluid">
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-lg-center mt-4 mt-lg-0 mt-md-0 mb-5 mb-lg-0">
                            <div class="team-info mx-auto mx-lg-0">
                                <h4 class="mb-2">Josh</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tempor incididunt dolore magna</p>

                                <div class="border-top mt-3 pt-3">
                                    <p class="d-flex mb-0">
                                        <i class="bi-whatsapp me-2"></i>

                                        <a href="tel: 110-220-9800">
                                           9876543211
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <img src="images/teams/happy-young-woman-wiping-kitchen-counter-wearing-yellow-gloves.jpg" class="team-image img-fluid">
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-lg-center mt-4 mt-lg-0 mt-md-0">
                            <div class="team-info mx-auto mx-lg-0">
                                <h4 class="mb-2">Marie</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tempor incididunt dolore magna</p>

                                <div class="border-top mt-3 pt-3">
                                    <p class="d-flex mb-0">
                                        <i class="bi-whatsapp me-2"></i>

                                        <a href="tel: 110-220-9800">
                                            9876543211
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </main>

        <footer class="site-footer">
    

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <p class="copyright-text mb-0 text-center">Copyright © 2024 Nast.</p>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </footer>

      
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/init.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/animated-headline.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>
