<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nast</title>

        <link
        rel="icon"
        href=
"images/logo.jpg"
        type="image/x-icon"
    />     
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/tooplate-clean-work.css" rel="stylesheet">

    </head>
    
    <body>

    

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.jpg" class="logo img-fluid" alt="">

                    <span class="ms-2">NAST</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Academic</a>
                        </li>

                        
                   

                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn " href="services.html">Service</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>

            <section class="banner-section d-flex justify-content-center align-items-end">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12">
                            <h1 class="text-white mb-lg-0">Our Services</h1>
                            <p class="text-white">Handle with care</p>
                        </div>

                        <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Services Listing</li>
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>


            <section class="services-section section-padding">
                    
                <div class="container">
                    <h3 class="text-gray mb-lg-2">Our Packages
                    </h3>    
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb section-bg mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a >
                                                <img src="https://www.smartsheet.com/sites/default/files/ic-og-CustomerOrderManagement-FacebookLinkedIn.jpg" class="services-image img-fluid" alt="">

                                              
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" >Customer orders</a>
                                            </h4>

                                            <p>Have a question? Contact EventRentify support at any time with your problems...</p>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb section-bg mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a >
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzcpKqBZJ2FtvYZI_sikvphhTpxRobGap_ig&s" class="services-image img-fluid" alt="">

                                              
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" >Weekly Subscription</a>
                                            </h4>

                                            <p>Have a question? Contact EventRentify support at any time with your problems...</p>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
         

            <section class="services-section section-padding section-bg">                
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="services-detail.html">
                                                <img src="https://t3.ftcdn.net/jpg/00/97/41/12/360_F_97411251_0GmmTuAPz7f6KKSYJf2BzkNQvbOWkKlb.jpg" class="services-image img-fluid" alt="">

                                               
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="services-detail.html">Special Events</a>
                                            </h4>

                                            <p>Have a question? Contact EventRentify support at any time with your problems...</p>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                     

                    </div>
                </div>
            </section>


        
        </main>

        <footer class="site-footer">
    

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <p class="copyright-text mb-0 text-center">Copyright © 2024 Nast.</p>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </footer>


        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/init.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/animated-headline.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>
